.flip-card {
  transition: transform all 2s ease;
  transform-style: preserve-3d;
  background-color: #cbd6d5;
}

.flipped {
  transform: rotateY(180deg) !important;
}

.opened {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hatchOpenedTitle {
  font-size: 0.6rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}

.hatchImage {
  max-width: 70px;
  max-height: auto;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  object-fit: contain;
  filter: saturate(0.3);
}

.checkMarkOpened {
  font-size: 0.9rem;
  color: #425f5b;
}

.noContentOpened {
  font-size: 0.8rem;
  color: #425f5b;
}

.hatchModalTitle {
  font-size: 2rem;
  font-weight: 600;
}

.hatchModalButton {
  width: 20%;
  color: #f9f5f3;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
}

.hatchModalButton:hover {
  box-shadow: inset 1px 1px 5px rgba(60, 24, 16, 0.237) !important;
}

.hatchCardUsed {
  padding: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px 0px #0000005e;
  filter: saturate(0.8);
  transition: all 1s ease;
  min-height: 160px;
}

.hatchCardUsed:hover {
  transform: scale(1.05);
  filter: saturate(1);
}

.hatchModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  font-size: 0.9rem;
}

.hatchModalImage {
  max-width: 30vh;
  border-radius: 5px;
}

.linkToHatchContent {
  text-decoration: none;
  font-size: 0.8rem;
}

.linkToHatchContent:hover {
  text-decoration: underline;
}

.toggle-btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-btn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #425f5b;
}

input:focus+.slider {
  box-shadow: 0 0 1px #3e474e;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Styles for Small Screens */
@media (max-width: 768px) {
  .hatchCardUsed {
    width: 100%;
    min-height: 100px;
  }

  .hatchModalImage {
    max-width: 50%;
  }

  .hatchModalButton {
    width: 50%;
  }

  .hatchModalContent {
    font-size: 0.8rem;
  }

  .hatchModalTitle {
    font-size: 1.5rem;
  }

  .hatchOpenedTitle {
    font-size: 0.5rem;
  }

  .hatchImage {
    max-width: 50px;
  }

  .checkMarkOpened {
    font-size: 0.7rem;
  }

  .noContentOpened {
    font-size: 0.6rem;
  }

  .linkToHatchContent {
    font-size: 0.6rem;
  }

  .toggle-btn {
    width: 40px;
    height: 20px;
  }

  .slider {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    width: 16px;
    height: 16px;
  }

  .toggle-btn input:checked+.slider:before {
    transform: translateX(20px);
  }

  .toggle-btn input:checked+.slider {
    background-color: #425f5b;
  }

  .toggle-btn input:focus+.slider {
    box-shadow: 0 0 1px #3e474e;
  }
}

/* Styles for Large Screens */
@media (min-width: 1600px) {
  .hatchCardUsed {
    width: 100%;
    min-height: 240px;
  }

  .hatchModalTitle {
    font-size: 2.5rem;
  }

  .hatchModalButton {
    font-size: 1rem;
    width: 35%;
  }

  .hatchModalContent {
    font-size: 1rem;
  }

  .hatchOpenedTitle {
    font-size: 0.8rem;
  }

  .hatchImage {
    max-width: 120px;
  }

  .checkMarkOpened,
  .noContentOpened {
    font-size: 1.2rem;
  }

  .linkToHatchContent {
    font-size: 0.8rem;
  }
}