.navMain {
  background-color: #4b5c59;
  height: 100vh;
  align-items: flex-start;
  padding-top: 80px;
  text-align: center;
  margin-top: -20px;
}

.crCAL-span {
  color: #fff;
}

.crCAL-span:hover {
  color: #eab287;
}

.crCAL-span.nav-link.active {
  text-decoration: underline;
}

.navMain .nav-link.active .crCAL-span {
  text-decoration: underline;
  color: #eab287;
}