.navMain {
  background-color: #4b5c59;
  height: 100vh;
  padding-top: 50px;
  align-items: center;
  font-family: "inter";
}

.crCAL-span {
  color: #fff;
}

.first {
  margin-top: 30px;
}

.active-link {
  text-decoration: underline;
  text-decoration-color: blue;
}
