#main-container {
  place-items: center center;
  margin-bottom: 1rem;
}

.button-a-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

#form-container {
  max-width: 513px;
  height: 568px;
  background-color: #f4ede7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}

.accsetCAL-h1 {
  margin-bottom: 40px;
  font-size: 32px;
}

.formGroup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-field {
  width: 70%;
  padding: 0.5rem;
  text-align: center;
}

.accsetCAL-button {
  background-color: #ba6c2c;
  box-shadow: 1px 1px 5px rgba(39, 18, 4, 0.471);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.302);
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.7rem 2.5rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.accsetCAL-a {
  text-decoration: none;
  color: #932b1d;
}

.accsetCAL-a:hover {
  text-decoration: underline;
}

.accsetCAL-button:hover {
  box-shadow: inset 1px 1px 5px rgba(60, 24, 16, 0.237);
  background-color: #a65919;
  color: white;
}