.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #f4ede7;
  border-radius: 10px;
  padding: 10px;
  max-width: 50vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}

.profileInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.h3Profile {
  font-size: 32px;
  margin-bottom: 10px;
  background: none;
  border: none;
}

.h3savedCalendars {
  font-size: 24px;
  margin: 2rem;
  text-align: center;
}

.profileContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 0 1rem;
}

.profileText {
  margin: 2rem;
}

.linkToAccount {
  text-decoration: none !important;
  color: #ab7765;
}

.linkToAccount:hover {
  color: #cb7f65;
  text-decoration: underline;
}

.favoriteCards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileCalendar {
  color: black;
  background-color: #b8c3c2 !important;
  height: 30vh;
  margin: 1rem;
}

.linkToFavorites {
  text-align: center;
  text-decoration: none !important;
  color: #ab7765;
  margin: 1rem 0 2rem;
}

.linkToFavorites:hover {
  color: #cb7f65;
  text-decoration: underline;
}
