.wholeProfileContainer {
  background-color: #f4ede7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.475);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fdf6f1;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #eae0d7;
}

.h3Profile {
  font-size: 1.5rem;
  margin-bottom: 5px;
  background: none;
  border-bottom: #ba6c2c8f 2px solid;
  padding: 0.5rem 3rem;
  width: auto;
}

.h3savedCalendars {
  font-size: 1.2rem;
  margin: 1.5rem 0 0.5rem;
  border-bottom: 1.5px solid #ba6c2c8f;
  padding: 0 2rem 0.5rem 2rem;
  text-align: center;
}

.profileContent {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileImgContainer {
  position: relative;
}

.profileImg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #597773;
}

.profileImgContainer:hover {
  opacity: 0.9;
}

.profileText {
  margin: 2rem 1rem;
  font-size: 0.8rem;
}

.linkToAccount {
  text-decoration: none !important;
  color: #ab7765;
}

.linkToAccount:hover {
  color: #7d4d3d;
  text-decoration: underline;
}

.favoriteCards {
  margin: 1rem auto;
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.profileCalendar {
  position: relative;
  color: black;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  filter: saturate(0.9);
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.405) !important;
  background-color: #b0b9b8 !important;
}

.profileCalendar:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.defaultScreenshotFavorite {
  width: 100%;
  max-height: 180px;
  border-radius: 10px;
  opacity: 0.9;
  transition: all 0.3s ease;
}

.defaultScreenshotFavorite:hover {
  opacity: 1;
}

.calendarLinkFavorite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none !important;
}

.useMyCalendarButtonProfile {
  background-color: #495956;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.5rem;
}

.useMyCalendarButtonProfile:hover {
  background-color: #3d4745;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.349);
}

.linkToMyCalendars {
  text-align: center;
  text-decoration: none !important;
  color: #a34a1a;
  font-weight: 700;
  font-size: 1rem;
}

.linkToMyCalendars:hover {
  color: #7d4d3d;
  text-decoration: underline !important;
}

.inputImg {
  position: absolute;
  top: 2.3rem;
  right: 2.8rem;
  transform: translate(50%, -50%);
  background-color: #495956;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 8px;
  font-size: 0.7rem;
  transition: background-color 0.3s ease;
  opacity: 0.7;
}

.inputImg:hover {
  background-color: #212625;
}

input[type="file"] {
  display: none;
}

/* Smaller screens */
@media screen and (max-width: 480px) {
  .wholeProfileContainer {
    padding: 10px;
  }

  .profileContent {
    flex-direction: column;
  }

  .profileImg {
    width: 100px;
    height: 100px;
  }

  .profileText {
    margin: 1rem 0;
    font-size: 0.8rem;
  }

  .favoriteCards {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}