.versions-wrap {
    text-align: center;
}

.versionTitle,
.calendarCarouselTitle {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 2rem 0 0 0rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.054);
    text-align: center;
}

.versionTitle {
    display: inline-block;
    border-bottom: #ba6c2c 2px solid;
    padding-bottom: 1.5rem;
    width: 40%;
    margin: 3rem auto 0rem;
}

.calendarCarouselTitle {
    display: inline-block;
    border-bottom: #ba6c2c 2px solid;
    padding-bottom: 1.5rem;
    width: 80%;
    margin: 2rem auto 0rem;
}

.calendarCarouselTitleBottom {
    display: inline-block;
    border-top: #ba6c2c 2px solid;
    padding-bottom: 1.5rem;
    width: 80%;
    margin: 0rem auto 0rem;
}

.versions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2rem 3rem;
}

.versionCard,
.aboutUsCard {
    margin: 0.5rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.194);
    background-color: #f4ede7;
    height: auto;
    max-width: auto;
    transition: box-shadow 0.3s ease;
    min-width: 40vw;
}

.aboutUsCard {
    width: 100%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.081);
}

.aboutUs {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 8rem;
}

.versionCardTitle,
.aboutUsTitle {
    font-size: 1rem;
    font-weight: 700;
    background-color: #597773;
    color: white;
    margin: 0;
    padding: 1rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.506);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.versionCardBody {
    padding: 1rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.076);
}

.expandedCard {
    height: auto;
    margin-top: 1rem;
    background-color: #e7ddd7;
    border-radius: 5px;
    padding: 1rem;
}

.readMore,
.linkToAbout {
    color: #597773;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.readMore:hover,
.linkToAbout:hover {
    text-decoration: underline;
    color: rgb(32, 81, 78);
}

.registerNow {
    background-color: #ba6c2c;
    box-shadow: 1px 1px 5px rgba(39, 18, 4, 0.471);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.302);
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0rem 0 0.5rem 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.registerNow:hover {
    box-shadow: inset 1px 1px 5px rgba(60, 24, 16, 0.237);
    background-color: #a65919;
}

.calendarCarouselRow {
    padding: 0rem 0rem 1rem 0rem;
    margin: 2.5rem 3.5rem 1rem 3.5rem;
    background-color: #F4EDE7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.269);
}

@media (max-width: 768px) {
    .versionTitle {
        font-size: 1.7rem;
    }

    .registerNow {
        font-size: 1.1rem;
    }

    .versionCardTitle,
    .aboutUsTitle {
        font-size: 1.1rem;
    }

    .versions,
    .aboutUs {
        margin: 3rem;
    }

    .calendarCarouselRow {
        margin: 2.5rem 1rem 1rem 1rem;

    }
}

.pLanding {
    position: relative;
}

.pLanding:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #ba6c2c;
}