.versions-wrap {
    text-align: center;
}

.versionTitle,
.calendarBannerTitle {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 2rem 0 0 0rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.054);
    text-align: center;
}

.versionTitle {
    display: inline-block;
    border-bottom: #ba6c2cd2 2px solid;
    padding-bottom: 1.5rem;
    width: 40%;
    margin: 3rem auto 0rem;
}

.calendarBannerTitle {
    display: inline-block;
    border-bottom: #ba6c2c8f 2px solid;
    padding-bottom: 1.5rem;
    width: 40%;
    margin: 2rem auto 0rem;
}

.versions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2rem 3rem;
}

.versionCard,
.aboutUsCard {
    margin: 0.5rem 0.5rem;
    border-radius: 5px;
    background-color: #f4ede7;
    height: auto;
    max-width: auto;
    transition: all 0.3s ease;
    min-width: 40vw;
    border: none;
}

.aboutUsCard {
    width: 100%;
}

.aboutUs {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 4rem;
    min-width: fit-content;
}

.versionCardTitle,
.aboutUsTitle {
    font-size: 1rem;
    font-weight: 700;
    background-color: #597773;
    color: white;
    margin: 0;
    padding: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.versionCardBody {
    padding: 1rem;
}

.expandedCard {
    height: auto;
    margin-top: 1rem;
    background-color: #e7ddd7;
    border-radius: 5px;
    padding: 1rem;
}

.readMore,
.linkToAbout {
    color: #597773;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.readMore:hover,
.linkToAbout:hover {
    text-decoration: underline;
    color: rgb(32, 81, 78);
}

.registerNow {
    background-color: #ba6c2c;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0rem 0 0.5rem 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.registerNow:hover {
    box-shadow: inset 1px 1px 5px rgba(60, 24, 16, 0.237);
    background-color: #a65919;
}

.calendarBannerRow {
    padding: 0 1rem;
    margin: 2.5rem 0;
    background-color: #F4EDE7;
    border-radius: 5px;
}

.calendarImageBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    padding: 1rem 2rem;
}

.exampleCalendar {
    margin: 1rem auto;
    width: auto;
    max-height: 40vh;
    border-radius: 10px;
}

@media (max-width: 768px) {

    .versionTitle,
    .calendarBannerTitle {
        font-size: 1.4rem;
    }

    .registerNow {
        font-size: 1.1rem;
    }

    .versionCardTitle,
    .aboutUsTitle {
        font-size: 1rem;
    }

    .versionCardBody,
    .expandedCard,
    .aboutUsCard {
        font-size: 0.9rem;
    }

    .versions,
    .aboutUs {
        margin: 3rem;
    }

    .calendarBannerRow {
        margin: 2.5rem 1rem 1rem 1rem;

    }
}

.pLanding {
    position: relative;
}

.pLanding:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: #ba6c2c80;
}