.main-row {
  margin-top: 90px;
}
.para {
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.colorTheme-container {
  padding: 2rem;
}

.colorTheme-div {
  margin-left: 20px;
}

.optionImg {
  width: 184px;
  height: 123px;
  margin-top: 5px;
  border-radius: 5px;
}

.crCAL-button {
  background-color: #ba6c2c;
  box-shadow: 1px 1px 5px rgba(39, 18, 4, 0.471);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.302);
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.7rem 2.5rem;
  margin-top: 3rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.header-crCAL {
  font-family: "Raleway";
  font-size: 32px;
}

.crCAL-form {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: "Raleway", sans-serif;
}

.crCAL-span {
  margin-left: 20px;
}

.crCAL-color-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crCAL-form2 {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.crCAL-button:hover {
  box-shadow: inset 1px 1px 5px rgba(60, 24, 16, 0.237);
  background-color: #a65919;
  color: white;
}
