.messageModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.messageModalHeader {
    padding: 15px 20px;
    background-color: #597773;
    color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messageModalTitle {
    text-align: center;
    margin: 0 auto;
    font-size: 1.1rem;
}

.messageModalBody {
    padding: 20px 40px;
    background-color: #F4EDE7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 0.8rem;
}

.messageModalFooter {
    display: block;
    padding: 15px 20px;
    background-color: #F4EDE7;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messageModalButton {
    width: 20%;
    background: #ba6c2c;
    box-shadow: 1px 1px 5px rgba(39, 18, 4, 0.471);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.302);
    color: #f9f5f3;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.messageModalButton:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 5px rgba(60, 24, 16, 0.237);
    background-color: #a65919;
}