.registerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f5f3;
}

.registerContainer {
  width: 400px;
  margin-bottom: 10px;
}

.registerFormWrap {
  background: #f4ede7;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.194);
}

.registerFormGroup {
  margin: 20px 0;
}

.registerFormGroup label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  margin-left: 3.4rem;
  color: #000000;
  text-align: left;
}

.registerFormGroup input {
  width: 16vw;
  padding: 0.7rem;
  margin: 5px;
  border-radius: 5px;
  border: 0.2px solid #bbbbbb;
  font-size: 0.8rem;
}

.registerFormGroup input:hover {
  box-shadow: 0 0 5px rgba(143, 56, 15, 0.743);
}

.registerFormGroup input:focus {
  box-shadow: 0 0 5px rgba(143, 56, 15, 0.416);
  outline: none;
}

.registerBtn {
  width: 30%;
  background: #ba6c2c;
  box-shadow: 1px 1px 5px rgba(39, 18, 4, 0.471);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.302);
  color: #f9f5f3;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 0.85rem;
  margin-bottom: 20px;
}

.registerBtn:hover {
  cursor: pointer;
  box-shadow: inset 1px 1px 5px rgba(60, 24, 16, 0.237);
  background-color: #a65919;
}

.termsConditions {
  font-size: 15px;
  color: #000000;
}

.termsConditions a {
  color: #ba6c2c;
  text-decoration: none;
}

.termsConditions a:hover {
  text-decoration: underline;
}

.h3Register {
  font-size: 30px;
  color: #000000;
}

.input-shake {
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.input-error {
  border: 2px solid red;
}