#dropdown-item-button {
  font-size: 0.8rem;
  padding: 0.5rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.349);
  margin: 0.1rem;
}

.hatch {
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.035);
}

.hatchCard {
  font-size: 0.8rem;
  width: 100%;
  font-weight: 400;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(25, 25, 25, 0.401);
  padding: 10px;
  transition: all 0.3s ease;
  border: none;
}

.dropdownItem {
  font-size: 0.8rem;
  transition: all 0.1s ease;
}

.dropdownItem:hover {
  color: black !important;
}

.dropdownTopic {
  font-size: 0.8rem;
  font-weight: 500;
  color: #7a928e;
}