.hatch {
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.035);
}

.editHatchCard {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(25, 25, 25, 0.401);
  padding: 10px;
  transition: all 0.3s ease;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 160px;
}

.randomizeButton {
  background: #597773 !important;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.302);
  color: #f9f5f3;
  padding: 4px 0;
  border-radius: 5px;
  border: none;
  font-size: 0.7rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

.randomizeButton:hover {
  box-shadow: inset 1px 1px 5px rgba(60, 24, 16, 0.237) !important;
  background-color: #425f5b !important;
}

.dropdownItem {
  font-size: 0.8rem;
  transition: all 0.1s ease;
}

.dropdownItem:hover {
  color: black !important;
}

.dropdownTopic {
  font-size: 0.8rem;
  font-weight: 500;
  color: #7a928e;
}

.dropdownButton {
  margin-top: 10px;
}

.dropdownItem {
  padding: 5px 10px;
}

.dropdownTopic.selected {
  background-color: rgb(230, 173, 213);
}

.dropdownItem.selected {
  background-color: beige;
}

#dropdown-alternative-button,
#dropdown-topic-button {
  font-size: 0.75rem;
  padding: 0.5rem;
  width: 100%;
  color: black !important;
  background-color: #F4EDE7 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: none !important;
  margin: 0.1rem;
  border: none;
}

#dropdown-alternative-button:hover,
#dropdown-topic-button:hover {
  background-color: #d5d1cd !important;
}

/* Styles for Large Screens */
@media (min-width: 1600px) {
  .editHatchCard {
    width: 100%;
    min-height: 240px;
  }

  .randomizeButton {
    font-size: 1rem;
    padding: 10px 0;
  }

  .dropdownItem {
    font-size: 1rem;
  }

  .dropdownTopic {
    font-size: 1rem;
  }

  .dropdownButton {
    margin-top: 20px;
  }

  .dropdownItem {
    padding: 10px 20px;
  }

  #dropdown-alternative-button,
  #dropdown-topic-button {
    font-size: 1rem;
    padding: 1rem;
  }
}