.navBarAdmin,
.navBarDefault {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.213);
    height: 80px;
    font-size: 0.9rem;
}

.navBarAdmin .links,
.navBarDefault .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navBarAdmin {
    background-color: #597773;
}

.navBarDefault {
    background-color: #F4EDE7;
}

.navBarAdmin .navLink {
    padding: 10px;
    margin: 0.5rem 1rem;
    color: #F4EDE7;
}

.navBarDefault .navLink {
    padding: 10px;
    margin: 0.5rem 1rem;
}

.navBarAdmin .navLink.active {
    color: #e4aa7e !important;
    text-decoration: underline;
}

.navBarAdmin .navLink:hover {
    color: #f0b283;
}

.navBarDefault .navLink:hover {
    color: #AD6421 !important;
}

.navBarDefault .navLink {
    color: black;
}

.navBarDefault .navLink.active {
    color: #AD6421 !important;
    text-decoration: underline;
}

.navLink {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.035);
}

.profileImageHeader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #597773;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.213);
}