.navBarAdmin,
.navBarDefault {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.213);
    height: 80px;
    font-size: 0.9rem;
}

.navBarAdmin .links,
.navBarDefault .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navBarAdmin {
    background-color: #597773;
}

.navBarDefault {
    background-color: #F4EDE7;
}

.navBarAdmin .navLink {
    padding: 10px;
    margin: 0.5rem 1rem;
    color: #F4EDE7;
}

.navBarDefault .navLink {
    padding: 10px;
    margin: 0.5rem 1rem;
}

.navBarAdmin .navLink.active {
    color: #e4aa7e !important;
    text-decoration: underline;
}

.navBarAdmin .navLink:hover {
    color: #f0b283;
}

.navBarDefault .navLink:hover {
    color: #AD6421 !important;
}

.navBarDefault .navLink {
    color: black;
}

.navBarDefault .navLink.active {
    color: #AD6421 !important;
    text-decoration: underline;
}

.navLink {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.035);
}

.profileImageHeader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(148, 147, 147);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.213);
}

.navLinkButton {
    padding: 10px;
    margin: 0.5rem 1rem;
    color: #F4EDE7;
    background-color: #597773;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navLinkButton:hover {
    color: #f0b283;
}

/* Styles for the hamburger menu */
.navbar-toggler {
    border: none;
    background: none;
    color: inherit;
    font-size: 1.5rem;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.navBarAdmin .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navBarDefault .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 991.98px) {

    .navBarAdmin,
    .navBarDefault {
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .navBarAdmin .links,
    .navBarDefault .links {
        flex-direction: column;
        width: 100%;
    }

    .navBarAdmin .navbar-nav {
        background-color: #597773;
        width: 100%;
        border-radius: 5px;
    }

    .navBarDefault .navbar-nav {
        background-color: #F4EDE7;
        width: 100%;
        border-radius: 5px;
    }

    .navBarAdmin .navbar-nav .nav-item,
    .navBarDefault .navbar-nav .nav-item {
        width: 100%;
        text-align: right;
    }
}