body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #FFFAF7;
}

.dashboardTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    transition: color 0.3s ease;
}

.dataCards,
.users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 3rem 0rem;
}

.dataCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    font-weight: 400;
    background-color: #ba6c2c;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
    padding: 20px;
    transition: all 0.3s ease;
}

.dataCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.dataCardBody {
    margin: 1rem;
    padding: 3rem;
}

.usersCard {
    background-color: #F4EDE7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.266);
}

.usersCardHeader {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #597773;
    color: white;
    margin: 0;
    padding: 1rem;
}

.usersTable {
    width: 100%;
    cursor: pointer;
    border: solid 0.2px #a3b5b2;
}

.usersTable th {
    background-color: #f9f6f4;
    color: black;
    font-weight: 500;
    padding: 0.5rem;
    margin: 0;
}

.usersTable td {
    padding: 0.5rem;
    margin: 0;
    background-color: #f6f2ed;
}

@media screen and (max-width: 768px) {

    .users {
        margin: 3rem 1rem;
    }

    .dataCards {
        margin: 3rem 3rem;
    }

    .dataCard {
        margin: 10px;
    }
}