.carousel .carousel-indicators button {
    height: 7px;
    width: 40px;
    margin: 0 0.2rem;
}

.carousel .carousel-indicators .active {
    background-color: orange;
}

.carousel {
    margin: 1rem 5rem;
}

.carouselImg {
    position: relative;
    max-height: 60vh;
    max-width: 100%;
    object-fit: contain;
}

.carousel-control-prev {
    position: absolute;
    top: 10%;
    left: 15%;
}

.carousel-control-next {
    position: absolute;
    top: 10%;
    right: 15%;
}