.customCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: none !important;
    box-shadow: none;
    height: 100% !important;
    padding: auto;
    margin: auto;
    width: 100%;
}

.carouselItem {
    transition: all 2s ease-in-out !important;
}

.firstCarousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calendarCarouselImg {
    max-height: 40vh;
    max-width: 50vw;
    object-fit: cover;
    margin: 0rem;
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.349);
    filter: brightness(0.9);
    transition: all 0.5s ease-in-out;
}

.calendarCarouselImg:hover {
    transform: scale(0.95);
    filter: brightness(1);
}

.calendarCarouselImg:not(:hover) {
    transform: scale(0.8);
}

.customCarousel .carousel-indicators {
    display: none;
}