.footerAdmin,
.footerDefault {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.213);
    height: 120px;
    font-size: 0.8rem;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.footerAdmin {
    background-color: #F4EDE7;
    border-top: 0.08px solid #504b473c;
}

.footerDefault {
    background-color: #597773;
}

.footerAdmin .nav-link {
    color: black;
}

.footerDefault .nav-link {
    color: #F4EDE7;
}

.footerAdmin .nav-link.active,
.footerAdmin .nav-link:hover {
    color: #AD6421 !important;
}

.footerAdmin .nav-link.active {
    text-decoration: underline;
}

.footerDefault .nav-link:hover {
    color: #e6b997;
}

.footerDefault .nav-link.active {
    color: #e6b997 !important;
    text-decoration: underline;
}

.footerDefault .copyright,
.footerDefault .socialMediaTitle {
    color: #F4EDE7;
    font-size: 0.8rem;
}

.socialMediaTitle,
.copyright {
    margin: 0;
    padding: 5px 10px 2px;
}

.footerAdmin .copyright,
.footerAdmin .socialMediaTitle {
    color: black;
}

.socialLinks {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.footerDefault .socialLinks a {
    color: #d3b8a4 !important;
}

.footerAdmin .socialLinks a {
    color: #AD6421 !important;
}

.footerAdmin .socialLinks a:hover {
    color: black !important;
}

.footerDefault .socialLinks a:hover {
    color: #F4EDE7 !important;
}

.termsLinks {
    text-align: center;
    justify-content: center;
}

.termsAndContact {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

.socialMedia {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: nowrap;

}

.nav-link,
.socialMediaTitle,
.copyright {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.035);
}

.nav-link {
    padding: 5px 15px;
}

@media (max-width: 767.98px) {

    .footerAdmin,
    .footerDefault {
        height: auto;
        padding: 0.5rem 1rem;
    }

    .footerAdmin .socialMedia,
    .footerDefault .socialMedia,
    .footerAdmin .termsAndContact,
    .footerDefault .termsAndContact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footerAdmin .socialMedia .socialLinks,
    .footerDefault .socialMedia .socialLinks,
    .footerAdmin .termsAndContact,
    .footerDefault .termsAndContact {
        margin: 1rem;
    }
}