.adminCalendarsContainer {
  margin: 0;
}

.adminCalendarTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.adminCalendarCards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.calendarCard {
  height: 100%;
  background-color: #eae0d7 !important;
  font-size: 0.8rem;
  width: 100%;
  font-weight: 400;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
  transition: all 0.3s ease;
}

#dropdown-item-button {
  background-color: #ba6c2c !important;
  color: #eae0d7 !important;
  border-color: #ba6c2c !important;
}

.adminCalendars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.dropDowns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.calendarScreenShot {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.349);
  object-fit: cover;
  filter: saturate(0.9);
}

.calendarScreenShot:hover {
  filter: saturate(1);
  transition: all 0.3s ease;
}

.adminCalendarBody {
  margin-top: 0.5rem;
}

.modifyButton {
  width: 30%;
  background: #ba6c2c;
  box-shadow: 1px 1px 5px rgba(39, 18, 4, 0.471);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.302);
  color: #f9f5f3;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 0 1rem;
}

.modifyButton:hover {
  box-shadow: inset 1px 1px 5px rgba(32, 13, 8, 0.237);
  background-color: #a65919;
}