.adminCalendars {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 10%;
}

.dropDowns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

body {
  margin: 0;
}

.root {
  height: 100vh;
}

.cards {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 30vh 30vh 30vh;
  column-gap: 10px;
  row-gap: 15px;
  justify-items: center;
  align-items: center;
  width: 100%;
  place-items: center;
  justify-content: center;
}
