@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background: #fffaf7;
}

.mainContent {
  padding-top: 110px;
  min-height: calc(100vh - 120px);
}

.root {
  height: 100vh;
}